.contenedor{
    padding: 30px;
    background: hotpink;
    
}
.contenedor1{
    padding: 30px;
    background: black;
    border: 2px blue;
    border-radius: 10px;
}
.input-prueba{
    background: hotpink;
    
}